@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

$secondColor: #147076;
$gradientColor1: #3ff85f; //rgb(99, 215, 213)
$gradientColor2: #a8c0ff; // pink

@property --degBody {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes bodyColor {
    0% {
        --degBody: 0deg;
    }
    100% {
        --degBody: 360deg;
    }
}
html {
    height: 100%;
}
body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    animation: bodyColor 10s infinite ease-in;
    background: fixed;
    background-image: linear-gradient(var(--degBody), $gradientColor1, $gradientColor2);
    display: flex;
    justify-content: center;
    .App {
        background-color: $secondColor;
        border-radius: 1em;
        display: inline-block;
        margin: 2vh 0;
        .Header {
            margin: 1.5em;
            ul {
                list-style: none;
                display: flex;
                justify-content: space-between;
                gap: 2vw;
                a {
                    text-decoration: none;
                    color: black;
                    transition: all 0.1s ease-in-out;
                    align-items: center;
                    display: flex;
                }
                a:hover {
                    font-size: large;
                    padding: 1em 2em;
                    border-radius: 1em;
                    background-color: white;
                    color: $secondColor;
                }
                .Danger:hover {
                    background-color: rgb(255, 80, 80);
                    color: white;
                }
                .MyIcon {
                    margin-right: 0.5em;
                    font-size: 2em;
                }
            }
        }
        .Main {
            margin: 1em;
            display: flex;
            justify-content: center;

            .Dashboard {
                display: grid;
                grid-template-columns: 1fr 1fr;

                .card {
                    display: flex;
                    flex-direction: column;
                    background-color: white;
                    margin: 1em;
                    padding: 1em;
                    border-radius: 1em;
                    .AdminIcon {
                        color: $secondColor;
                        cursor: pointer;
                        align-self:flex-end;
                        font-size: 2em;
                    }
                    span {
                        color: gray;
                    }
                    img {
                        align-self: center;
                        border-radius: 1em;
                        max-width: 15em;
                        margin: 0.5em;
                    }
                    button {
                        background-color: rgb(255, 255, 124);
                        align-self: center;
                        border: none;
                        padding: 1em;
                        border-radius: 1em;
                        width: 100%;
                        transition: all 0.3s ease-in;
                    }
                    button:hover {
                        width: 50%;
                        background-color: rgb(191, 191, 92);
                    }
                }
            }
            .ViewProfile {
                border: 1px solid white;
                padding: 1em;
                display: flex;
                text-align: center;
                flex-direction: column;
                h1 {
                    color: red;
                }
                span {
                    color: gray;
                }
                p {
                    font-size: 2em;
                }
                button {
                    align-self: center;
                    width: 50%;
                    border-radius: 1em;
                    border-width: 0;
                    background-color: rgb(255, 99, 99);
                    padding: 1em;
                }
                .iconsChoises {
                    display: flex;
                    justify-content: space-around;
                }
                #Check {
                    padding: 1em;
                    background-color: rgb(255, 98, 98);
                    border-radius: 20%;
                    color: white;
                    font-size: 1.5em;
                    margin-top: 1em;
                }
                .Close {
                    padding: 1em;
                    background-color: rgb(153, 255, 98);
                    border-radius: 20%;
                    color: white;
                    font-size: 1.5em;
                    margin-top: 1em;
                }
            }
        }
        .Footer {
            margin: 1.5em;
        }
        .ErrorMesage {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            left: 0;
            backdrop-filter: blur(5px);
            width: 100%;
            height: 100%;

            .Message {
                padding: 2em;
                font-size: 24px;
                text-align: center;
                background-color: white;
                border-radius: 1em;
                border: 1px solid rgb(255, 98, 98);
                display: inline-block;
                .Check {
                    padding: 1em;
                    background-color: rgb(255, 98, 98);
                    border-radius: 20%;
                    color: white;
                    font-size: 22px;
                    margin-top: 1em;
                }
            }
        }
    }
}
.SignUp, .SignIn {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 22vw;
    input {
        padding: 1em;
        font-size: 1em;
        border-radius: 0.7em;
        transition: all 0.5s ease-in-out;
        outline: none;
        border: 1px solid black;
    }
    input:focus {
        -webkit-text-fill-color: $secondColor;
        border: 1px solid red;
        background-color: rgb(143, 190, 237);
        border-radius: 1.5em;
    }
    input:hover {
        border-radius: 1em;
        background-color: rgb(179, 179, 179);
    }
}